:root {
    --bg-color: #f3f5fc;
    --text-color: #0a3871;
    --output-color: white;
    --output-text-color: rgb(50, 50, 50);
    --footer-color: #0a3871;
    --btn-active: rgb(10, 56, 113, 0.2);
    --btn-decrypt-color: rgb(10, 56, 113, 0.1);
    --btn-encrypt-active: rgb(10, 56, 113, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.logo {
    position: absolute;
    top: 40px;
    left: 80px;
}

main {
    display: flex;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    height: 100%;
    margin: 20px auto;
}

.input-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 20%;
    margin-top: 100px;
}

#text-input {
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-size: 2rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border: none;
    resize: none;
}

#text-input:focus {
    outline: none;
}

#text-input::placeholder {
    color: var(--text-color);
    opacity: 0.5;
}

.restrictions-msg {
    color: dimgray;
}

.buttons-input {
    display: flex;
    gap: 1rem;
}

.output-container {
    width: 25%;
    min-width: 400px;
    margin-right: 20px;
    background-color: var(--output-color);
    color: var(--output-text-color);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#hideOutput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

#img-nomsg {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.large-bold {
    font-size: 1.5rem;
    font-weight: 700;
}

#showOutput {
    display: none;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

#text-output {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    font-family: inherit;
    font-size: 1.5rem;
    background-color: var(--output-color);
    color: var(--text-color);
    border: none;
    resize: none;
}

#text-output:focus {
    outline: none;
}

#buttons-output {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}

.btn {
    width: 50%;
    padding: 1.4rem 0;
    color: var(--output-color);
    background-color: var(--text-color);
    border: none;
    border-radius: 20px;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.btn:active {
    transform: scale(0.98);
    transition: 0.1s;
}

.btn-encrypt:active {
    background-color: var(--btn-encrypt-active);
}

.btn-decrypt {
    background-color: var(--btn-decrypt-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.btn-decrypt:active {
    background-color: var(--btn-active);
}

.btn-copy {
    width: 100%;
    padding: 0.8rem 0;
    background-color: var(--output-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.btn-copy:active {
    background-color: var(--btn-active);
}

.btn-clean {
    width: 100%;
    padding: 0.8rem 0;
    background-color: var(--output-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

.btn-clean:active {
    background-color: var(--btn-active);
}

footer {
    background-color: var(--footer-color);
    color: white;
    padding: 0.25rem;
}

footer p {
    font-size: 0.8rem;
    text-align: center;
    margin: 2px;
}

footer a {
    color: white;
    text-decoration: underline;
}

.popup {
    position: absolute;
    top: 5%;
    left: 50%;
    padding: 0.8rem 1.5rem;
    background-color: rgba(192, 192, 192, 0.2);
    color: var(--text-color);
    border: 1px solid dimgrey;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transform: translate(-50%, -50%);
}

/* Mobile View */
@media screen and (max-width: 720px) {
    .output-container {
        min-width: auto;
    }

    .buttons-input {
        flex-direction: column;
        gap: 0.6rem;
        align-items: center;
    }

    .btn {
        width: 100%;
    }
}

/* Tablet View */
@media screen and (max-width: 1024px) {
    body {
        width: 100%;
        margin: auto;
    }

    header {
        width: 90%;
        margin: auto;
    }

    .logo {
        position: relative;
        top: auto;
        left: auto;
        margin: 50px auto 20px;
    }

    main {
        flex-direction: column;
        align-items: center;
        width: 90%;
        gap: 1rem;
    }

    .input-container {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .output-container {
        width: 100%;
        height: 50%;
        margin: auto;
    }

    #img-nomsg {
        display: none;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgb(45, 45, 45);
        --text-color: silver;
        --output-color: rgb(60, 60, 60);
        --output-text-color: silver;
        --footer-color: rgb(60, 60, 60);
        --btn-active: rgba(94, 94, 94, 0.8);
        --btn-decrypt-color: rgb(80, 80, 80);
        --btn-encrypt-active: rgba(255, 255, 255, 0.8);
    }

    .logo {
        filter: grayscale(100%) invert(100%);
    }

    .restrictions-msg {
        color: silver;
    }

    .btn-decrypt {
        border: none;
    }
}
